* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: "Karla", sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 1rem 0;
}
    
.attribution a {
    color: hsl(228, 45%, 44%);
}

h1, h2, p, ul li {
    cursor: default;
}

.landing {
    min-height: 100vh;
    background-color: hsl(204, 43%, 93%);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: .5rem;
    max-width: 600px;
    box-shadow: 0px 10px 10px 5px rgb(207, 223, 237);
}

.card {
    padding: 1.5rem;
}

.card:not(:first-child) h1 {
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
}

.card p, .card ul li {
    font-size: .9rem;
    color: hsl(204, 43%, 93%);
}

.card ul {
    list-style: none;
    margin-top: 1rem;
}

.card ul li {
    padding: 2px 0;
    color: hsl(204, 43%, 93%, .80);
}

.community {
    background-color: white;
    border-radius: .5rem .5rem 0 0;
}

.community h1 {
    color: hsl(179, 62%, 43%);
    font-size: 1.2rem;
}

.community h2 {
    color: hsl(71, 73%, 54%);
    font-size: 1rem;
    margin: 1rem 0;
}

.community p {
    color: hsl(218, 22%, 67%);
    line-height: 1.5rem;
    margin-top: 1rem;
}

.subscription {
    background-color:rgb(43, 179, 177);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cost {
    display: flex;
    align-items: center;
    margin: .5rem 0;
}

.cost p:first-child {
    font-size: 2rem;
    color: white;
    margin-right: 1rem;
}

.cost p:last-child {
    color: hsl(204, 43%, 93%, .75);
}

#sign-up {
    width: 100%;
    padding: 1rem;
    background-color: hsl(71, 73%, 54%);
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
    margin-top: 1.5rem;
    font-size: .9rem;
    font-weight: 700;
    box-shadow: 0 10px 10px 0 rgb(40, 166, 165);
    cursor: pointer;
    transition: .2s ease;
}

.why-us {
    background-color:rgb(74, 190, 189);
    border-radius: 0 0 .5rem .5rem;
}

@media (min-width: 700px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .community {
        grid-column: span 2;
    }

    .community h1 {
        font-size: 1.5rem;
    }

    .community h2 {
        font-size: 1.1rem;
    }

    .subscription {
        border-radius: 0 0 0 .5rem;
    }

    .why-us {
        border-radius: 0 0 .5rem 0;
    }

    .card {
        padding: 2.5rem;
    }

    .card ul li {
        font-size: .8rem;
    }

    #sign-up:hover {
        background-color: white;
        color: hsl(179, 62%, 43%);
    }
}